{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="'viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/suporte.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <title>Oli Contas - Modere suas finanças</title>
    </head>

    <body>
        <header>
            <nav id="menu-h">
                <ul>
                    <li><a href="{% url 'home' %}"><span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio</a></li>
                    <li><a href="{% url 'nova_transacao' %}"><span class="bi bi-cash-coin" aria-hidden="True"></span> Novas transações</a></li>
                    <li><a href="{% url 'transacoes' %}" ><span class="bi bi-bank2" aria-hidden="True"></span> Transações</a></li>
                    <li><a href="{% url 'desenvolvedor' %}"><span class="bi bi-braces"></span> Desenvolvedor</a></li>
                    <li><a href="{% url 'suporte' %}"><span class="bi bi-person-workspace" aria-hidden="True"></span> Suporte</a></li>
                    <li><a href="{% url 'sair' %}"><span class="bi bi-door-open" aria-hidden="True"></span> Sair</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="linha">
                <section>
                    <div class="coluna col5 sidebar">
                        <h2>Localização</h2>
                        <img src="{% static 'img/mapa.jpg' %}" alt="mapa">
                        <ul class="sem-padding sem-marcador">
                            <li>Rua Machado de Assis, 121</li>
                            <li>Bairro Moinhos</li>
                            <li>Possibilândia - UF</li>
                        </ul>

                        <h3>Contato direto</h3>
                        <ul class="sem-padding sem-marcador">
                            <li><strong>Telefone:</strong> (99) 9 9999-9999</li>
                            <li><strong>Email:</strong> contato@suportetecnico.com</li>
                            <li><strong>Discord:</strong> login.discord</li>
                        </ul>
                    </div>

                    <div class="coluna col7 contato">
                        <h2 style="margin-left: 6px;">Envie sua mensagem</h2>
                        <form id="form" action="{% url 'suporte' %}" method="POST">
                            {% csrf_token %}
                            <label for="nome" style="margin-left: 10px;">Seu nome:</label>
                            <input type="text" name="nome" id="nome">

                            <label for="email" style="margin-left: 10px;">Seu email:</label>
                            <input type="email" name="email" id="email">

                            <label for="assunto" style="margin-left: 10px;">Assunto:</label>
                            <input type="text" name="assunto" id="assunto">

                            <label for="mensagem" style="margin-left: 10px;">Mensagem:</label>
                            <textarea></textarea>

                            <button type="submit" class="botao" name="botao" style="margin-left: 9px;">Enviar</button>
                        </form>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>